.bg {
  background: url('images/change.jpg');
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);

  opacity: 0.7;
}
